/* Helpers */

/* Flex helpers */

.flex {
    display: flex;
}

.flex.flex.column {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.space-around {
    justify-content: space-around;
}

.flex>.grow {
    flex-grow: 1;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}